<!DOCTYPE html>
<html>
<head>
    <title>Distance Calculator</title>
</head>

<body>
    <h1>Calcul de distance</h1>

    <form method="POST" action="/">
        <label>Point A (ex: 2,5)</label>
        <input type="text" name="apoint" required>

        <br><br>

        <label>Point B (ex: 1,6)</label>
        <input type="text" name="bpoint" required>

        <br><br>

        <button type="submit">Calculer</button>
    </form>

    {% if result %}
        <h2>Résultat</h2>
        <p>Distance : {{ result.result_distance }}</p>
        <p>Point A : {{ result.start_point }}</p>
        <p>Point B : {{ result.end_point }}</p>
        <p>Calculé à : {{ result.requested_at }}</p>
    {% endif %}
</body>
</html>
